.row
  .content
    .col-md-12
      .panel
        .panel-body
          .viewcode-example
            = simple_form_for @organization do |f|
              %fieldset
                %legend.section
                  %h5
                    %i.icon-note
                    %strong General
                .control-group
                  %p
                    = f.input :admin_id, :as => :hidden, :input_html => { :value => @organization.admin_id }
                  %p
                    = f.input :is_active, :as => :hidden, :input_html => { :value => false }
                  %p
                    = f.input :name, :label => "Name", :input_html => { :class => 'form-control input-sm' }

                  %p
                    = f.association :university, :label => "University", :label_method => :name, :value_method => :id, :input_html => { :class => 'form-control input-sm chosen-select' }

                  %p
                    = f.input :description, :label => "Description", :as => :text, :input_html => { :class => 'form-control input-sm', :rows => 5}

              .form-actions
                %p
                  .btn-group.no-margin{style: "float: right;"}
                    = link_to "Cancel", organizations_path, :class => "btn btn-sm btn-default"

                    = f.submit "Save RSO", :class => "btn btn-sm btn-success"
