!!!
%html.no-ie{:lang => "en", 'ng-app' => 'zombieBox'}
  %head
    / Meta
    %base{:href => "/"}/
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}
        %meta{:content => "", :name => "description"}
          %meta{:content => "", :name => "keywords"}
            %meta{:content => "", :name => "author"}
              %title BeAdmin - Bootstrap Admin Theme
              = stylesheet_link_tag "jquery-ui-1.11.2.custom.css"
              = stylesheet_link_tag 'gritter/jquery.gritter.css'
              = stylesheet_link_tag "theme/theme.css"
              = stylesheet_link_tag "chosen.css"
  %body
    / START Main wrapper
    .wrapper
      / START Top Navbar
      %nav.navbar.navbar-default.navbar-top.navbar-fixed-top{:role => "navigation"}
        / START navbar header
        .navbar-header
          %a.navbar-brand{:href => "/"}
            .brand-logo
            College Event
        / END navbar header
        / START Nav wrapper
        .nav-wrapper
          %ul.nav.navbar-nav.navbar-right
            %li
              %a.main-link{:href => '/users/sign_out', :tabindex => "-1"}
                %i.fa.fa-power-off.fa-lg
                
        / END Nav wrapper
        / START Search form
        %form.navbar-form{:action => "search.html", :role => "search"}
          .form-group.has-feedback
            %input.form-control{:placeholder => "Type and hit Enter..", :type => "text"}
              .fa.fa-times.form-control-feedback{"data-toggle" => "navbar-search-dismiss"}
          %button.hidden.btn.btn-default{:type => "submit"} Submit
        / END Search form
      / END Top Navbar
      / START aside
      %aside.aside
        / START Sidebar (left)
        %nav.sidebar
          / START user info
          .item.user-block
            / User picture
            .user-block-picture
              .user-block-status
                %img.img-thumbnail.img-circle{:alt => "Avatar"}
                  .circle.circle-success.circle-lg
              / Status when collapsed
            / Name and Role
            .user-block-info
              %span.user-block-name.item-text Welcome User
              %span.user-block-role UX-Dev
          / END user info
          %ul.nav
            / START Menu
            %li.nav-heading Main navigation
            %li.active
              %a.no-submenu{"data-toggle" => "", :href => "/", :title => "Dashboard"}
                %em.fa.fa-dot-circle-o
                %span.item-text Dashboard
            - if current_user.present? && current_user.has_role?(:super_admin)
              %li
                %a.no-submenu{"data-toggle" => "", :href => "/event_statuses", :title => "Event Status"}
                  %em.fa.fa-file-text-o
                  %span.item-text Event Statuses
              %li
                %a.no-submenu{"data-toggle" => "", :href => "/event_types", :title => "Event Type"}
                  %em.fa.fa-file-text-o
                  %span.item-text Event Types
            %li
              %a.no-submenu{"data-toggle" => "", :href => "/users/#{current_user.id}/edit", :title => "Profile"}
                %em.fa.fa-file-text-o
                %span.item-text Profile
            %li
              %a.no-submenu{"data-toggle" => "", :href => "/organizations", :title => "RSOs"}
                %em.fa.fa-file-text-o
                %span.item-text RSOs
            %li
              %a.no-submenu{"data-toggle" => "", :href => "/universities", :title => "Universities"}
                %em.fa.fa-file-text-o
                %span.item-text Universities

        / END Sidebar (left)

      / End aside
      / START aside
      %aside.offsidebar
        / START Off Sidebar (right)

      / START Main section
      %section
        = yield

    = javascript_include_tag "modernizr-2.5.3.min"
    
    / jquery and friends
    = javascript_include_tag "jquery/jquery-2.1.1.js"
    = javascript_include_tag "jquery/jquery-ui-1.11.2.custom.js"
    = javascript_include_tag "jquery/jquery.gritter.min.js"
    = javascript_include_tag "jquery/jquery.icheck.js"
    = javascript_include_tag "jquery/jquery.sparkline.js"
    = javascript_include_tag "jquery/jquery.slimscroll.js"
    = javascript_include_tag "jquery/jquery.dataTables.min.js"
    = javascript_include_tag "jquery/jquery.metisMenu.js"

    / backbone and friends
    = javascript_include_tag "backbone/underscore-min.js"
    = javascript_include_tag "backbone/backbone-min.js"
    = javascript_include_tag "backbone/backbone.localStorage-min.js"

    = javascript_include_tag "theme/theme.js"
    = javascript_include_tag 'angular/app/angular_import.js'
    = javascript_include_tag "application"


